<div class="container-fluid" style="margin-top:1em;">
    <div class="row">
        <ng-container #accountsContainer>
            <div class="col-lg-3 col-md-6" *ngFor="let acct of accounts">
                <account-summary-selector [account]="acct" [selected]="acct==selectedAccount" ></account-summary-selector>
            </div>
        </ng-container>
        <div class="col-lg-3 col-md-6">
            <contact-summary-selector></contact-summary-selector>
        </div>
        <div class="col-lg-3 col-md-6">
            <notification-summary-selector></notification-summary-selector>
        </div>
    </div>
</div>
<care-billing-dash-selector>Loading bill charts</care-billing-dash-selector>
<usage-selector>Loading Usage</usage-selector>